body{
    background: #1e1e31;
    color: white;
    font-family: Consolas, serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden
}
a{
    text-decoration: none;
    color: inherit;
    opacity: 50%;
}
a:hover{
    color: inherit;
    opacity: 100%;
}
.red{
    color:#F67C7C
}
.blue{
    color:#67E9F1
}
.green{
    color:#71D368
}
.header{
    top: 0;
    color: white;
    font-size: 22px;
    padding: 2% 3%;
}
.navbar{
    display: inline;
}

.circle{
    position: absolute;
    background-color: inherit;
    border:5px solid #F67C7C;
    height:35px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:35px;
    opacity: 100%;
}
.square{
    position: absolute;
    background-color: inherit;
    border:5px solid #67E9F1;
    height:35px;
    width:35px;
    opacity: 100%;
}
.cross{
    color: #71D368;
    font-size: 60px;
    text-align: center;
    position: absolute;
    transform: translate(-2.5px, -21px);
    opacity: 100%;
}
.content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 28px;
    width: 80%;
    filter: drop-shadow(4px 4px 3px #07070b);
}
.text{
    padding: 2% 3%;
}
.footer{
    opacity: 100%;
    padding: 2% 3%;
    bottom: 0;
    margin-bottom: auto;
}
.shapes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .25s ease .65s;
    filter: drop-shadow(4px 4px 3px #07070b);
    z-index: -3;
}
.shapes2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .25s ease .65s;
    filter: drop-shadow(4px 4px 3px #07070b);
    z-index: -3;
}
.shapes3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .25s ease .65s;
    filter: drop-shadow(4px 4px 3px #07070b);
    z-index: -3;
}